@font-face {
    font-family: 'Playfair Display';
    src: url('assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    --blue: #0891B2;
    --gray: #565656;

}

body {
    margin: 0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 1px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    text-shadow: 0px 4px 6px rgba(100, 100, 123, 1);
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 1rem 0;
}

p {
    margin: 0;
    line-height: 1.5;
    color: var(--gray);
}

.behind {
    z-index: -1;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--blue);
    transform: skewY(-10deg);
    transform-origin: left bottom;
}

.shadow {
    -webkit-box-shadow: 0px 0px 22px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 22px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 22px 0px rgba(66, 68, 90, 1);
}

img {
    display: block;
}

.img-wrap {
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .img-wrap {
    max-width: 600px;
}

header .img-wrap > h1 {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    white-space: nowrap;
}

.about-me {
    max-width: 55ch;
    background-color: white;
    padding: 2rem 2rem;
}

.about-me > h2 {
    margin-top: 0;
}

@media (min-width: 700px) and (max-width: 1280px) {
    :root {
        font-size: 20px;
    }

    body {
        padding: 2rem;
    }

    img {
        width: 100%;
    }

    header {
        display: block;
    }

    header .img-wrap {
        margin-right: 1rem;
        float: left;
        max-width: 400px;
    }

    header .img-wrap > h1 {
        right: -107%;
        top: 0;
        left: auto;
        text-align: left;
    }

    .about-me {
        max-width: calc(200px + 1rem + 55ch);
        margin-top: 6rem;
        margin-left: 2rem;
    }

    .about-me h2 {
        margin-top: 1rem;
    }

    .behind {
        background-color: red;
    }
}

@media (max-width: 700px) {
    :root {
        font-size: clamp(10px, 5vw, 20px);
    }

    body {
        padding: 0 16px;
    }

    h1 {
        font-size: clamp(1.5rem, 10vw, 5rem);
    }

    header {
        flex-direction: column;
    }

    .img-wrap > img {
        width: 100%;
        height: auto;
    }

    .about-me {
        box-shadow: none;
        background-color: transparent;
    }

    .about-me h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    .behind {
        background-color: green;
        height: min(80vw, 700px);
    }

}