@font-face {
    font-family: 'Playfair Display';
    src: url('assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    --blue: #0891B2;
    --gray: #565656;
}

body{
    margin: 0;
}

.body {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

header {
    padding: 1px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    text-shadow: 0px 0px 8px rgba(100, 100, 123, 1);
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 1rem 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: .5rem 0;
}

p {
    margin: 0;
    line-height: 1.5;
    color: var(--gray);
}

.behind {
    z-index: -1;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--blue);
    transform: skewY(-10deg);
    transform-origin: left bottom;
}

.shadow {
    -webkit-box-shadow: 0px 0px 22px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 22px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 22px 0px rgba(66, 68, 90, 1);
}

img {
    display: block;
}

.img-wrap {
    position: relative;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .img-wrap {
    max-width: 600px;
}

header .img-wrap > h1 {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    white-space: nowrap;
}

.about-me {
    max-width: 55ch;
    background-color: white;
    padding: 2rem 2rem;
}

.about-me > h2 {
    margin-top: 0;
}

.team-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
}

.card .img-wrap > img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.description{
    padding: .5rem 1rem;
}

/* icons */
.icon svg,
footer svg{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    fill: currentColor;
}

.icon svg{
    width: 1.3em;
    height: 1.3em;
    fill: black;
}

.socials .icon svg{
    width: 46px;
    height: auto;
    fill: black;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    color: white;
    max-width: 1200px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    padding: 2rem;
}

footer .img-wrap{
    height: 450px;
}

footer .img-wrap > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer p{
    margin: 1rem 0;
    color: inherit;
}

.contact{
    min-width: 350px;
}

.socials{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 700px) and (max-width: 1280px) {
    :root {
        font-size: 20px;
    }

    .body {
        padding: 2rem;
        gap: 0;
    }

    img {
        width: 100%;
    }

    header {
        display: block;
        min-height: 750px;
    }

    header .img-wrap {
        margin-right: 1rem;
        float: left;
        max-width: 400px;
    }

    header .img-wrap > h1 {
        right: -107%;
        top: 0;
        left: auto;
        text-align: left;
    }

    .about-me {
        max-width: calc(200px + 1rem + 55ch);
        margin-top: 6rem;
        margin-left: 2rem;
    }

    .about-me h2 {
        margin-top: 1rem;
    }

    .behind {
        background-color: red;
    }
}

@media (max-width: 700px) {
    :root {
        font-size: clamp(10px, 5vw, 20px);
    }

    .body {
        padding: 0 16px 2rem;
    }

    h1 {
        font-size: clamp(1.5rem, 10vw, 5rem);
    }

    header {
        flex-direction: column;
    }

    .footer-content{
        flex-direction: column;
    }

    .img-wrap > img {
        width: 100%;
        height: auto;
    }

    .about-me {
        box-shadow: none;
        background-color: transparent;
    }

    .about-me h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    .behind {
        background-color: green;
        height: min(80vw, 700px);
    }
}